@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');
// BREAKPOINT VARIABLES
$xsmall-screen: 375px;
$small-screen: 414px;
$medium-screen: 768px;
$large-screen: 1008px;
$xlarge-screen: 1201px;

// FONTS
$fraunces: 'Fraunces', serif;
$barlow: 'Barlow', sans-serif;
